html, body {
    max-width: 100vw;
    font-family: 'tt_norms', Helvetica, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    margin: 0px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
:root {
    font-size: 15px;
    @include laptop {
        font-size: 14px;
    }
}
.container {
    display: flex;
    flex-flow: column;
}
.link {
    font-size: 18px;
    color: black;
    text-decoration: underline;
    text-align: center;
    padding: 15px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background: rgba(0, 0, 0, .1);
    }
}
.controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}